/* Layout */

.container {
    height: 100vh;
    /* Full viewpoint height */
    width: 80vw;
    /* 80% of the viewpoint width */
    margin: 0 auto;
    /* Centers the container horizontally */
    background-color:#f6f6e7;
    /* Light background for contrast */
}

/* Large screen (e.g., tables or desktops) */
@media (min-width: 768px) {
    .container {
        width: 60vw;
        /* 60% of the viewport width */
    }
}

/* CSS Variables to Define Colour Scheme */
:root {
    --primary-color: #2c3e50;
    /* Dark Blue */
    --secondary-color: #3498db;
    /* Bright Blue */
    --accent-color: #e74c3c;
    /* Red */
    --text-color: #333;
    /* Dark Grey */
    --background-color: #a1bad8;
    /* Light Grey */
}