/* BUTTON STYLE */
.button {
    display: inline-block;
    text-align: center;
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid var(--text-color);
    border-radius: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 1rem;
}

.button:hover {
    background-color: #197407;
    transform: translateY(-2px);
}