/* accordion.css importing */
@import '../component_skeletons/accordion.css';

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: 50vh;
    background-image: url('../work_space_3/assets/main.jpg');
    padding: 4rem;
    gap: 2rem;
}

.content_sitemap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: auto; 
    background-color: #f5dd73;
    padding: 1rem;  
    gap: 2rem;  
    margin-top: 2rem;
}


@media (max-width: 768px) {
    .content {
        flex-direction: column;
        padding: 2rem;
        gap: 1.5rem;
    }
}

.page-title .content {
    max-width: 100px;
    margin: 0 auto;
    flex-direction: column;
    padding: 2rem;

}

.page-title {
    padding-top: 5rem;
    
}

@media (max-width: 768px) {
    .page-title .content {
        max-width: 90%;
        padding: 1.5rem;
    }
}


@media (max-width: 768px) {

    .left{
        flex: 1 1 100%;
    }
}

.left h2{
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.6;
    color: var(--text-color);
}

@media (max-width: 768px) {

    .left h2{
        font-size: 1rem;
    }
}

.page-title .content h2 {
    font-size: 2.5rem;
}

@media (max-width: 768px) {
    .page-title .content h2 {
        font-size: 2rem;
    }
}

.page-title .content h3 {
    font-size: 1.8rem;
}

@media (max-width: 768px) {
    .page-title .content h3 {
        font-size: 1.4rem;
    }
}

/* MENUS */
/* Base styles */
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav-mobile {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: var(--text-color);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

#nav-mobile ul li a {
    display: block;
    padding: 1rem 0;
    font-size: 1.5rem;
    text-decoration: none;
}

#nav-desktop {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: var(--text-color);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: none;
    height: 60px;
    z-index: 9999;
    /* above all element */

}

#nav-desktop ul li a {
    display: block;
    padding: 1rem 0;
    font-size: 1.25rem;
    text-decoration: none;
    color: white;
    /*font color*/
    transition: all 0.3s ease;

}

#nav-desktop ul li a:hover {
    color: #ffffff;
    font-weight: bold;
    background-color: #007BFF;
    transform: scale(1.05);
    transition: all 0.3s ease;
}


/* Remember - media query should be below here */

/* Responsive control */
/* Media query should be below here */

/* MENUS */
/* Responsive control */
@media screen and (min-width: 768px) {
    #nav-desktop {
        display: block;
    }

    #nav-mobile {
        display: none;
    }
}

.responsive-img {
    
    display: block;
    max-width: 100%;
    height: auto;
}

.h2_sitemap {
    font-size: 1rem;
    flex: 1 1 45%;
    max-width: 100%;
    font-weight: bold;
    background-color: #ede69d;
    border: 3px;
    padding: 2rem; 
}

.left p::before {
    content: "🧶";
}