/*Card layout on screens*/
@media (min-width: 768px) {
    .card {
        width: calc(33.33% - 14px);
        /* Approximately 3 cards per row with gap considered */
        margin-bottom: 20px;
        /* Add bottom margin for wrapped rows */
    }
}

/*Accordion styles*/
.accordion-header {
    background-color: var(--primary-color);
    color: white;
}

.accordion.nested .accordion-header {
    background-color: rgb(160, 217, 242);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 10px 10px 0 0;
}

/*nested accordion styles*/
.accordion.nested {
    margin-left: 1rem;
    border-left: 3px solid black;
    padding-left: 1rem;
}

/*content inside accordion styles*/
.accordion.nested .accordion-content {
    border: 1px solid var(--accent-color);
    border-radius: 0 0 10px 10px;
}

/*when the accordion is open styles*/
.accordion-item.open .accordion-content {
    padding: 1rem;
    max-height: 500px;
}