/* Specific Accordian styles for site map page */
.accordion-header {
    background-color: var(--primary-color);
    color: white;
}

/*Sub-pages styles*/
/*nested accordion styles*/
.accordion.nested {
    margin-left: 1rem;
    border-left: 3px solid black;
    padding-left: 1rem;
}

/*nested accordion styles*/
.accordion.nested .accordion-header {
    background-color: rgb(160, 217, 242);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 10px 10px 0 0;
}

.accordion.nested .accordion-content {
    color: rosybrown;
    border: 1px solid var(--accent-color);
    border-radius: 0 0 10px 10px;
}

.accordion-item.open .accordion-content {
    padding: 1rem;
    max-height: 500px;
}